<div class="container">
  <h1>Login to Survey Poodle</h1>

  <form [formGroup]="loginForm">
    <div class="form-group">
      <label for="username">Username: </label>
      <input
        class="form-control"
        type="text"
        name="username"
        id="username"
        placeholder="Enter your username..."
        formControlName="username"
        required
        minlength="3"
      />
    </div>
    <div *ngIf="username.invalid && (username.dirty || username.touched)">
      <p *ngIf="username.errors.required">Username is required</p>
      <p *ngIf="username.errors.minlength">
        Username should at least be 3 characters
      </p>
    </div>

    <div class="form-group">
      <label for="password">Password: </label>
      <input
        class="form-control"
        type="password"
        name="password"
        id="password"
        placeholder="Enter your password..."
        formControlName="password"
        required
        minlength="3"
      />
      <div *ngIf="password.invalid && (password.dirty || password.touched)">
        <p *ngIf="password.errors.required">password is required</p>
        <p *ngIf="password.errors.minlength">
          password should at least be 6 characters
        </p>
      </div>
    </div>
    <br />

    <div class="form-group">
      <button
        class="btn btn-primary btn-lg"
        (click)="onLoginClicked()"
        type="button"
        [disabled]="isLoading || loginForm.invalid"
      >
        Login
      </button>
    </div>

    <div *ngIf="loginError" class="alert alert-danger mt-2" role="alert">
      <h4>Something went wrong</h4>
      <p>{{ loginError }}</p>
    </div>

    <div *ngIf="isLoading" class="spinner-border" role="status">
      <span class="sr-only">Attempting to login...</span>
    </div>

  </form>
  <br />
  <a routerLink="/register">I dont have an account, Register now</a>
</div>
